.bellButton {
    position: fixed;
    z-index: 999999;
    top: 2%;
    right: 2%;
}

.overlayClass {
    width: 295px;
    max-width: 295px;
}

::ng-deep .p-overlaypanel .p-overlaypanel-content {
    max-width: 390px !important;
}